@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

main {
  flex-direction: column;
  max-width: 1000px;
  margin: 4rem auto;
  padding: 0 4rem;
}

.text {
  color: #b7b7b7;
  font-size: 1.25rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}

ul {
  color: #cdcdcd;
  font-size: 1.25rem;
  margin-left: 20px;
}

.list-item {
  margin-bottom: 0.5rem;
  color: #b7b7b7;
  font-size: 1.25rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
  line-height: 3.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: #b7b7b7;
}

code {
  background-color: #2b2b2b;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 100;
  border: 1px solid #444;
}

/* Container for CRUD section */
#page-cont-crud {
  color: #cdcdcd;
  text-align: justify;
  margin-bottom: 3em;
  font-size: x-large;
}

#page-cont-crud h1 {
  line-height: 3.5em;
}

#page-cont-crud h2 {
  line-height: 2.5em;
}

#page-cont-crud h3 {
  line-height: 1.5em;
}

/* Table styles for dark mode */
#topics-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2b2b2b; /* Dark background for table */
}

#topics-table th,
#topics-table td {
  border: 1px solid #444; /* Dark border for table cells */
  padding: 10px;
  text-align: left;
}

#topics-table th {
  background-color: #009341;
  color: white;
}

#topics-table td {
  color: #cdcdcd;
}

#topics-table input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #1e1e1e; /* Dark background for input fields */
  color: #cdcdcd; /* Light text for inputs */
  border: 1px solid #444; /* Darker border for inputs */
}

/* General Button Styles */
.btn {
  padding: 5px 10px;
  margin: 5px;
  background-color: #009341;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

/* Delete button with a red color */
.delete-btn {
  background-color: #af4c58;
  min-width: 64px;
}

.save-btn {
  min-width: 64px;
}

/* Disabled button styling */
button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* Hover effect for buttons */
button:hover {
  background-color: #006c2a;
}

.delete-btn:hover {
  background-color: #922f38;
}

/* Add-row button specific styling */
#add-row {
  margin-top: 10px;
  padding: 10px;
  background-color: #006c2a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#add-row:hover {
  background-color: #004e1d;
}
